---
layout: default
title: Guitar Lessons
course_selection_beginner:
-  instrument: Guitar
   level: Beginner
   course_title: (Standard)
   course_image: /images/course-beginner-standard.png
   course_description: Learn 10 well-known songs, 10 essential chords, how to read tablature, basic strumming patterns, basic finger and plectrum picking, the major scale, basic improvisation and ear training essentials.
   day_1: Mondays
   time_1: 19:00 - 20:00
   link_1: https://www.ryaninglis.com/beginnercourses
   day_2: Tuesdays
   time_2: 19:00 - 20:00
   link_2: https://www.ryaninglis.com/c7a1b21e-721c-4013-845a-aa4805ec4a77
-  instrument: Guitar
   level: Beginner
   course_title: (Bollywood)
   course_image: /images/guitar-beginner-bollywood.png
   course_description: Covering essential chords, rhythms, melodies, music theory and ear training whilst learning popular Hindi songs.
   day_1: Fridays
   day_2: N/A
   time_1: 19:00 - 20:00
   time_2: N/A
-  instrument: Guitar
   level: Beginner
   course_title: (Reading Notes)
   course_image: /images/course-reading-notes.png
   course_description: Play the guitar AND read basic music notation with fun challenges and modern popular songs focusing on playing easy melodies.
   day_1: Fridays
   day_2: N/A
   time_1: 18:00 - 19:00
   time_2: N/A
-  instrument: Ukulele
   level: Beginner
   course_title: (Standard)
   course_image: /images/ukulele-beginner.png
   course_description: Start from the very beginning with Bruder Jakob and work your way up to playing Hallelujah and more than 30 other COMPLETE songs.
   day_1: Thursdays
   day_2: N/A
   time_1: 18:00 - 20:00
   time_2: N/A
timetable:
-  weekday: Monday
   startdate: starting 02.05.2022
   link_1: https://www.ryaninglis.com/beginnercourses
   time_1: 19:00 - 20:00
   course_name_1: Beginner (Standard)
   link_2: N/A
   time_2: N/A
   course_name_2: N/A
-  weekday: Tuesday
   startdate: starting 03.05.2022
   link_1: https://www.ryaninglis.com/7b505b11-2a9b-4c0b-a392-3b04384e9bc1
   time_1: 18:00 - 19:00
   course_name_1: Intermediate (1)
   link_2: https://www.ryaninglis.com/c7a1b21e-721c-4013-845a-aa4805ec4a77
   time_2: 19:00 - 20:00
   course_name_1: Beginner (Standard)
-  weekday: Wednesday
   startdate: starting 04.05.2022
   link_1: https://www.ryaninglis.com/course-guitar-fingerpicking
   link_2: https://www.ryaninglis.com/intermediate1
   course_name_1: Fingerpicking (1)
   course_name_2: Intermediate (1)
   time_1: 18:00 - 19:00 
   time_2: 19:00 - 20:00 
-  weekday: Thursday
   startdate: starting 05.05.2022
   link_1: https://www.ryaninglis.com/beginnerukulele
   time_1: 18:00 - 19:00
   course_name_1: Ukulele (Standard)
-  weekday: Friday
   startdate: starting 06.05.2022
   link_1: https://www.ryaninglis.com/course-guitar-reading-notes
   link_2: https://www.ryaninglis.com/bollywoodbeginner
   course_name_1: Beginner (Reading Notes)
   course_name_2: Beginner (Bollywood)
   time_1: 18:00 - 19:00 
   time_2: 19:00 - 20:00 
---


<!---------------------------------Content BEGINNERS  --------------------------------->
  
<section class="grid">
    <div class="col-12">
    <img src="/images/Guitar_Logo_B.png" class="guitar-lessons-logo">
  </div>
  </section>
  
  
  <section class="grid-spaceAround centered">
    
    <div class="col-12 padded-2 centered bg-dark">
      <h2> 8-Week-Courses for Total Beginners</h2>
      <p>These 8-week courses are perfect for first time players who want to learn the basics of guitar and ukulele while playing real songs straight away. </p>
  </div>

  {% for item in page.course_selection_beginner %}
  <div class="col-3_sm-12 padded-2"> 
    <img src="{{item.course_image}}" class="course-img">
       <h4>{{item.instrument}} <br> {{item.level}} <br> {{item.course_title}}</h4>
       <p> {{item.course_description}}</p> 
       <a href="{{item.link_1}}" target=”_blank” class="button block"> {{item.day_1}}<br> {{item.time_1}}</a>
       <a href="{{item.link_2}}" target=”_blank” class="button block"> {{item.day_2}}<br> {{item.time_2}}</a>
   </div>
   {% endfor %}

  </section>
  
      <!---------------------------------Content INTERMEDIATE --------------------------------->
  
  
  <section class="grid-spaceAround centered">
    <div class="col-12 padded-2 centered bg-dark">
        <h2> 8-Week-Courses for Beginners with Basic Knowledge</h2>
        <p>These 8-week courses are perfect for beginners who already know the basics but want to take their playing and knowledge to the next level by learning more advanced techniques while playing real songs straight away. </p>
    </div>
    <div class="col-3_sm-12 padded-2"> 
      <img src="/images/course-intermediate-1.png" class="course-img">
        <h4>Guitar <br> Intermediate <br> (Level 1)</h4>
        <h5>Scales & Solos</h5>
        <p> The first of 3 intermediate levels: you will learn the first 4 essential scales, the basics of improvisation, how the most successful bands and musicians created music with them and how YOU can do the same.</p> 
        <a href="https://www.ryaninglis.com/7b505b11-2a9b-4c0b-a392-3b04384e9bc1" target=”_blank” class="button block"> Tuesdays<br> 18:00 - 19:00</a>
        <a href="https://www.ryaninglis.com/intermediate1" target=”_blank” class="button block"> Wednesdays<br> 19:00 - 20:00</a>
    </div>
    <div class="col-3_sm-12 padded-2"> 
      <img src="/images/course-intermediate-2.png" class="course-img">
        <h4>Guitar <br> Intermediate <br> (Level 2)</h4>
        <h5>Blues, Spanish & Raggae</h5>
        <p>Covering the basics of 4 musical styles, Blues, Reggae, Bluegrass and Spanish, how you can create the same sounds and feelings in your own playing and how it has influenced the most popular music of the 20th century.</p> 
        <a href="https://www.ryaninglis.com/intermediate2" target=”_blank” class="button block"> Tuesdays<br> 20:00 - 21:00</a>
    </div>
    <div class="col-3_sm-12 padded-2"> 
      <img src="/images/course-intermediate-3.png" class="course-img">
        <h4>Guitar <br> Intermediate <br> (Level 3)</h4>
        <h5>Strumming & Rhythm</h5>
        <p>Take your rhythm playing to the next level and learn all those strumming patterns that have been a mystery to you. Learn to read music notation and recognise how you can strum along to ANY song by ear.</p> 
        <a href="https://www.ryaninglis.com/course-guitar-intermediate-lv3" target=”_blank” class="button block"> Mondays<br> 20:00 - 21:00</a>
    </div>
  </div>
  <div class="col-3_sm-12 padded-2"> 
    <img src="/images/course-fingerpicking-1.png" class="course-img">
      <h4>Guitar <br> Fingerpicking <br> (Level 1)</h4>
      <p> You will learn more than 20 full songs over 8 weeks as the difficulty slowly increases week by week to push your playing to the next level. Learn the fingerpicking patterns all the professionals use, made simple for beginners.</p> 
      <a href="https://www.ryaninglis.com/course-guitar-fingerpicking" target=”_blank” class="button"> Wednesdays<br> 18:00 - 19:00</a>
  </div>
  </section>  
  
      <!---------------------------------Content STYLISTIC --------------------------------->
  
  <section class="grid-spaceAround centered">
  
    <div class="col-12 padded-2 centered bg-dark">
        <h2> 8-Week Course - Percussive Guitar</h2>
        <p>This 8-week course is perfect for beginners and even seasoned professionals who want to add percussion to their strumming and singing.</p>
    </div>  
  
    <div class="col-6 padded-2 centered"> 
      <img src="/images/course-percussion.png" class="course-img">
        <h3>Guitar Percussion (Level 1)</h3>
        <p>Learn everything about the basic rhythms to add guitar percussion to ANY song. Through coordination exercises and cool song examples, this is the must-have, ultimate guitar percussion course for beginners.</p> 
        <a href="https://www.ryaninglis.com/guitar-percussion-level-1" target=”_blank” class="button block"> Get Full Access<br> To Online Course</a>
    </div>
  
    <!----------------
    <div class="col-3_sm-12 padded-2"> 
      <img src="/images/course-song-analysis-1.png">
        <h4>Guitar <br> Song Analysis <br> (Level 1)</h4>
        <p>Do you wonder about songwriting and composition? How to choose what chords to play together and how to make your songs sound even more interesting.  Learn how the most popular songs were written so you can write better songs and chord progressions for yourself.
        </p> 
        <a href="#" class="button block"> Sign Up For<br> Waiting List</a>
    </div>
        --------------------->
   </section>  
  
        <!---------------------------------Content TIMETABLE--------------------------------->
  
  <section class="grid-spaceAround"> 
      <div class="col-12 centered padded-1 bg-dark">
        <h2> Timetable</h2>
        <p> Spring Term starting Monday,  2nd of May 2022 </p>
      </div>

    <!---------------------------------Content JEKYLL--------------------------------->
    {% for item in page.timetable %}
      <div class="col-2_sm-4_xs-12 padded-05"> 
        <h4>{{item.weekday}}</h4>
        <h5>{{item.startdate}}</h5>
        <a href="{{link_1}}" target=”_blank”><p> {{time_1}} <br> {{course_name_1}}</p></a>
        <a href="{{link_2}}" target=”_blank”><p> {{time_2}} <br> {{course_name_2}}</p></a>
    </div>
    {% endfor %}
  </section>

    <!---------------------------------Content JEKYLL END--------------------------------->
 