<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>{{page.title}}</title>

<!---------------------------------Custom Head by Carolin START --------------------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/style.css">
<!---------------------------------Custom Head by Carolin END --------------------------------->
</head>

<body>


<!---------------------------------Custom Header by Carolin START --------------------------------->
<header class="grid">
    <div class="col-4-middle">
      <img src="/images/podia-logo-new.png">
    </div>
    <nav class="col-8-middle right">
      <a href="/index.html"> Home </a>
      <a href="#"> Tabs & Tutorials </a>
      <a href="#"> Guitar Blog </a>
      <a href="/contactform.html"> Contact </a>
    </nav>
  </header>
  <!---------------------------------Custom Header by Carolin END --------------------------------->




    {{content}}


<!---------------------------------Custom Footer by Carolin START --------------------------------->
<footer class="grid-bottom padded">
    <!-- column -->
    <div class="col-3_sm-12 padded-1">
      <img src="/images/podia-logo-new.png">
      <p> Ryan Inglis Ltd Guitar Lessons <br> Erich-Kästner-Str. 3 <br> 80796 München </p>
    </div>
    <div class="col-1 sm-hidden"> <!-- empty filler --> </div>
  
    <!-- column -->
    <div class="col-3_sm-4_xs-12 padded-1">
      <h4 class="caps"> Connect </h4>
      <nav>
        <a href="https://www.facebook.com/groups/606997939704332/" target=”_blank”> Facebook Guitar Group </a>
        <a href="https://t.me/+VS8c28-SLzozMjJi" target=”_blank”> Telegram Guitar Group </a>
      </nav>
    </div>
  
    <!-- column -->
    <div class="col-2_sm-4_xs-12 padded-1">
      <h4 class="caps"> Social Media </h4>
      <nav>
        <a href="https://www.facebook.com/gitarrenschulemuenchen" target=”_blank”> Facebook </a>
        <a href="https://www.instagram.com/ryanaoinglis" target=”_blank”> Instagram </a>
      </nav>
    </div>

      <!-- column -->
    <div class="col-3_sm-4_xs-12 padded-1">
        <h4 class="caps"> Legal </h4>
        <nav>
            <a href="/impressum.html"> Impressum </a>
            <a href="/datenschutzerklärung.html"> Datenschutzerklärung </a>
        </nav>
      </div>

    <div class="col-12 centered padded-t">
      <p class="subtle"> Copyright © 2022  |  All Rights Reserved  |  by Carolin Kumari </p>
    </div>
</footer>
<!---------------------------------Custom Footer by Carolin END --------------------------------->
<!---------------------------------Custom JS Links by Carolin START --------------------------------->
<!---------- Add jQuery------->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!---------- Add Custom Javascript File------>
<script src="/scripts.js"></script>
<!---------------------------------Custom JS Links by Carolin END --------------------------------->

</body>

</html>

